<div class="menu-container">

    <ul>
      <li>
        <a routerLink="./content">
            <div>
                <img src="/assets/myprofile.png" width="35px">
            </div>
            <div>
                <label style="font-size: 17px;">My Profile<br/></label>
                <label class="smalllabel">Make changes to your account</label>
            </div>
        </a>
      </li>
      <li>
        <a routerLink="./setting">
            <div>
                <img src="/assets/setting.png" width="35px">
            </div>
            <div>
                <label style="font-size: 17px;">Account Setting<br/></label>
                <label class="smalllabel">Manage your saved account</label>
            </div>
        </a>
      </li>
      <br /><label style="margin-left: 10px;font-family: 'Montserrat', sans-serif;"> About </label><br /><br />
      <li>
        <a routerLink="home">
            <div>
                <img src="/assets/help.png" width="35px">
            </div>
            <div>
                <label style="font-size: 17px;">Help & Support<br/></label>
            </div>
        </a>
      </li>
      <li>
        <a routerLink="home">
            <div>
                <img src="/assets/heart.png" width="35px">
            </div>
            <div>
                <label style="font-size: 17px;">About App<br/></label>
            </div>
        </a>
      </li>
      <li>
        <a routerLink="home">
            <div>
                <img src="/assets/heart.png" width="35px">
            </div>
            <div>
                <label style="font-size: 17px;">Privacy policy<br/></label>
            </div>
        </a>
      </li>
      <li>
        <a routerLink="home">
            <div>
                <img src="/assets/heart.png" width="35px">
            </div>
            <div>
                <label style="font-size: 17px;">Terms and Conditions<br/></label>
            </div>
        </a>
      </li> <br />
      <li>
        <a routerLink="../login">
            <div>
                <img src="/assets/logout.png" width="35px">
            </div>
            <div>
                <label style="font-size: 17px;">Log out<br/></label>
                <label class="smalllabel">Further secure your account for safety</label>
            </div>
        </a>
      </li>
      
    </ul>

</div>