.myprofileContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 2px;
    margin-top: 40px;
}

.item {
    width: 45%;
    margin: 10px;
}

.mail{
    padding: 11px 25px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    box-sizing: border-box;
    box-shadow: -1px 1px 10px rgba(5, 5, 34, 0.15);
    border: 1px solid #050522;
    border-radius: 10px;
    background: url('/assets/eye.png') no-repeat scroll 7px 7px;
    background-position: right;
    margin-bottom: 20px;
  }

  .info{
    padding: 11px 25px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    box-sizing: border-box;
    box-shadow: -1px 1px 10px rgba(5, 5, 34, 0.15);
    border: 1px solid #050522;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    color: red;
  }

  .reset{
    color: #4B643D;
    padding: 10px 20px;
    width: 270px;
    height: 40px;
    outline: none;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: -1px 1px 10px rgba(5, 5, 34, 0.15);
    border-radius: 30px;
    border-color: 1px solid #4B643D;
    font-style: normal;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    font-weight: bold;
    margin-right: auto;
  }

  .reset:hover{
    background: #b9c4b3;
  }

  .delete{
    color: #FE0000;
    padding: 10px 20px;
    width: 270px;
    height: 40px;
    border-color: 1px solid #4B643D;
    outline: none;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: -1px 1px 10px rgba(5, 5, 34, 0.15);
    border-radius: 30px;
    border-color: #4B643D;
    font-style: normal;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .delete:hover{
    background: #ecbab6;
  }